@use 'type';
@use 'layout' as vars;

.wp-block-button__link {
  text-transform: uppercase;
  border-radius: vars.$border-radius;
  background-color: #000;
  @include type.artemis-body;
  margin-bottom: 0;
  margin-top: 0;
}