@use 'mq';
@use 'layout';
@use 'layout' as vars;

// header spacing
.site:not(.company, .home) .site-main {
  padding-top: 90px;
  @include mq.for-tablet-landscape-up {
    padding-top: vars.$header-height;
  }
}
.site.company .site-main .company-hero {
    padding-top: vars.$header-height;
    padding-top: 90px;
}
// End header spacing

.site-main > * ,
.site-footer{
  transform: none;
  transition: .2s all ease-in-out;
}
.nav-toggled .site-main > *,
.nav-toggled .site-footer {
  transform: translateX(-100vw);
  @include mq.for-tablet-landscape-up {
    transform: none;
  }
}
.site-header {
  position: fixed;
  top: 12px;
  width: 100vw;
  height: vars.$header-height;
  z-index: 4;
  mix-blend-mode: difference;
  font-size: 2.3vw;
  @include mq.for-tablet-portrait-up {
    top: 30px;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 1.4vw;
    top: 0;
  }
}
.nav-toggled .site-header {
  mix-blend-mode: normal;
  @include mq.for-tablet-landscape-up {
    mix-blend-mode: difference;
  }

}
.site-header > * {
  position: absolute;
  top: vars.$header-height * .5;
  transform: translateY( -50% );
}
.site-header-branding {
  z-index: 2;
  opacity: 1;
  transition: .5s opacity ease-in-out;
}
.nav-toggled .site-header-branding {
  opacity: 0;
  @include mq.for-tablet-landscape-up {
    opacity: 1;
  }
}
.site-header-branding a {
  display: inline-block;
  padding: 1rem;
}
.site-header-branding svg{
  width: auto;
  height: 12px;
  @include mq.for-tablet-portrait-up {
    height: 1.5vw;
  }
  @include mq.for-tablet-landscape-up {
    height: 1.1vw;
  }
}
.artemis-logo path {
  fill: #FFF;
}
.site-header-current-page-title {
  font-family: 'Maxeville';
  text-align: center;
  left: 50%;
  transform: translate( -50%, -50% );
  padding: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: .6;
  color: #FFF;
  display: none;
  font-size: 1em;
  transition: opacity .3s linear;
  opacity: 1;
  @include mq.for-tablet-portrait-up {
    display: block;
  }
}
.nav-toggled .site-header-current-page-title {
   opacity: 0;
}
.site-header-main-navigation {
  padding: 0 1rem;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
}
.site-header-main-navigation .menu-toggle {
  display: block;
  margin: 0 0 0 2.5em;
  border: none;
  background-color: transparent;
  padding: 20px 0;
  width: 50px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.site-header-main-navigation ul {
  display: flex;
  gap: 2em;
  width: 100%;
  height: 100vh;
  // Don't do the vh thing 'cause we need it to resize
  // height: calc(var(--vh, 1vh) * 100);
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: .5s all ease-in;
  pointer-events: none;
  @include mq.for-tablet-landscape-up {
    gap: 0;
    height: 100%;
    position: relative;
    flex-direction: row;
  }
}
.nav-toggled .site-header-main-navigation ul {
  pointer-events: all;
  opacity: 1;
}
.site-header-main-navigation a, .site-header-main-navigation a:visited {
  font-family: 'Maxeville';
  color: rgba(255, 255, 255, .5);
  text-transform: uppercase;
  font-size: clamp(16px, 10.6vw, 60px);
  position: relative;
  @include mq.for-tablet-landscape-up {
    color: #FFF;
    font-size: 1em;
    padding: 8px 20px;
    mix-blend-mode: difference;
  }
}
.site-header-main-navigation a:hover {
  @include mq.for-tablet-landscape-up {
    color: #000;
    background-color: #FFF;
    border-radius: vars.$border-radius * .5;
  }
}
// .menu-item .shape-bg-wrap {
//   display: none;
//   @include mq.for-tablet-landscape-up {
//     display: block;
//     transform: scale(0);
//     transition: .3s transform ease-in-out;
//   }
// }
// .menu-item:hover .shape-bg-wrap {
//   transform: scale(1);
// }
.current_page_item a {
  text-decoration: underline;
  color: #FFF;
}
.menu-hamburger-icon {
  width: 100%;
  height: auto;
  overflow: visible;
}
.menu-hamburger-icon line {
  stroke: #FFF;
}
.nav-menu-mobile-bg-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 400px;
  background-color: #000;
  @include mq.for-tablet-landscape-up{
    display: none;
  }
}
.nav-menu-mobile-bg {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  bottom: 5%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
}
.nav-menu-mobile-bg-img {
  width: 150%;
  height: 150%;
  object-fit: cover;
}