@use 'mq';
@use 'layout';
@use 'layout' as vars;

.site.home .site-header{
  visibility: hidden;
  opacity: 0;
}
.site.home .site-main {
  opacity: 0;
  visibility: hidden;
}
.home-canvas {
  top: 0;
  z-index: 0;
}
.home .entry-content > .home-hero {
  width: 100%;
  overflow: hidden;
  @include layout.v-space-after-half;
}
.home-hero-headline {
  font-family: 'Maxeville';
  display: inline-block;
  font-size: 12.5vw;
  font-weight: 300;
  text-transform: uppercase;
  color: #FFF;
  mix-blend-mode: difference;
  white-space: nowrap;
  margin: 0;
  line-height: 1;
  width: auto;
  max-width: none;
  position: relative;
  z-index: 1;
  user-select: none;
}
.home-content,
.home-navigation {
  font-family: 'Maxeville';
  position: relative;
  z-index: 1;
  @include layout.full;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 8.5vw;
  line-height: 1.1;
  @include mq.for-tablet-portrait-up {
    font-size: 3.2vw;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 3.8vw;
    line-height: 1;
    letter-spacing: 0;
    max-width: 22em;
  }
}
.home-navigation {
  counter-reset: homeBtnCounter 0;
  position: relative;
  left: -1.333em;
}
.home-navigation .wp-block-buttons .wp-block-button {
  flex-basis: calc(50% - .5em);
  position: relative;
  perspective: 1000px;
  background-color: #FFF;
}
.home-navigation .wp-block-button__link {
  font-family: 'Maxeville';
  font-size: 1em;
  padding: calc(.667em + 2px) calc(1.333em + 2px);
  background-color: transparent;
  color: #fff;
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
  counter-increment: homeBtnCounter 1;
}
.home-navigation .wp-block-button__link:after,
.home-navigation .wp-block-button__link-clone:after {
  content: "0" counter(homeBtnCounter) ;
  font-size: .5em;
  margin-left: .125em;
}
.homeBtn-bgshape {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: vars.$border-radius;
  overflow: hidden;
  transform: translateZ(-150px);
  @include mq.for-phone-only {
    display: none;
  }
}
.homeBtn-bgshapeImg {
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  background: url('./img/artemis-bg.png');
  background-position: 0% 0%;
  z-index: 1;
}