@use 'mq';
@use 'layout';
@use 'type';
@use 'layout' as vars;

.portfolio-nav  {
  @include layout.full;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 5rem;
  @include mq.for-phone-only {
    width: 100vw;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
  }
}
.portfolio-nav .portfolio-nav-element {
  position: relative;
  margin-top: vars.$header-height;
  position: relative;
  @include mq.for-phone-only {
    flex-basis: 66%!important;
    flex-shrink: 0;
    scroll-snap-align: start;
    padding-left: 1rem;
  }
  @include mq.for-tablet-portrait-up {
    flex-basis: 33.3%!important;
    flex-shrink: 1;
  }
} 
.portfolio-nav .portfolio-nav-element h2 {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  right: 1rem;
  font-size: 8.2vw;
  margin: 0;
  line-height: 1;
  pointer-events: none;
  mix-blend-mode: difference;
  @include mq.for-tablet-portrait-up {
    font-size: 4vw;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 3.45vw;
  }
}
.portfolio-nav .portfolio-nav-element:first-child h2 {
  @include mq.for-tablet-portrait-up {
    left: 1rem;
  }
}
.portfolio-nav .portfolio-nav-element model-viewer{
  width: 100%;
  height: 80vh;
  border-radius: vars.$border-radius;
  overflow: hidden;
  transform: translateZ(0);
  cursor: pointer;
  position: relative;
}
.portfolio-nav-element .wp-block-group__inner-container {
  border-radius: vars.$border-radius;
  overflow: hidden;
}

.portfolio-nav .portfolio-nav-element:not(:first-child) {
  padding-left: 1rem;
}
.portfolio-nav .portfolio-nav-element:after {
  color: #FFF;
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-size: 25px;
  line-height: 1;
}
.portfolio-nav .portfolio-nav-element:first-child:after {
  content: 'I';
  @include mq.for-tablet-portrait-up {
    left: 1rem;
  }
}
.portfolio-nav .portfolio-nav-element:nth-child(2):after {
  content: 'II';
}
.portfolio-nav .portfolio-nav-element:nth-child(3):after {
  content: 'III';
}
.portfolio-nav .portfolio-nav-element:nth-child(4):after {
  content: 'IV';
}
.portfolio-nav .portfolio-nav-element:nth-child(5):after {
  content: 'V';
}
.portfolio-section {
  position: relative;
  padding-top: vars.$header-height;
  @include mq.for-tablet-portrait-up {
    margin-bottom: 12em;
  }
}
.portfolio-section > .wp-block-group__inner-container > :not(.portfolio-section-hero) {
  @include layout.centered;
}
.portfolio-section-hero {
  @include layout.full;
  position: relative;
  height: 60vh;
}
.portfolio-section-hero model-viewer {
  width: 100%;
  transform: translateZ(0); //fix for safari border-radius bug
  overflow: hidden;
  border-radius: vars.$border-radius;
  height: 60vh;
  position: absolute;
  top: 0;
  left: 0;
  @include mq.for-tablet-portrait-up {
    height: 60vh;
  }
  @include mq.for-tablet-landscape-up {
    height: 60vh;
  }
}
.portfolio-section-hero h2 {
  color: #FFF;
  mix-blend-mode: difference;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  margin-bottom: 0;
  line-height: 1;
  @include layout.full;
  font-size: 32px;
  @include mq.for-tablet-landscape-up {
    font-size: 70px
  }
}
.portfolio-section h3 {
  padding-top: 2em;
  font-size: 3.2vw;
  @include mq.for-tablet-portrait-up {
    font-size: 1.5vw;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 1.7vw;
  }
}
.portfolio-section h4 {
  margin-top: .5em;
  font-size: 3.2vw;
  @include mq.for-tablet-portrait-up {
    font-size: 1.5vw;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 1.4vw;
  }
}
.portfolio-section p {
  @include type.artemis-body-small;
}

.test {
    padding: 200px 1rem 60px 1rem;
    #c {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 0;
    }
    .portnav {
      display: flex;
      position: relative;
      z-index: 1;
    }
    .diagram {
      display: inline-block;
      flex-basis: 50%;
      height: 20rem;
    }
    .left {
      float: left;
      margin-right: .25em;
    }
    .right {
      float: left;
      margin-left: .25em;
    }
    p {
      margin: 1em auto;
      max-width: 500px;
      font-size: xx-large;
    }
}