@use 'mq';
@use 'layout';
@use 'layout' as vars;
@use 'type';

.company-hero {
  background-color: #000;
  color: #FFF;
  margin: 0;
  overflow: auto;
  padding: 2rem 0 4rem 0 ;
}
.company-hero > * {
  @include layout.full;
}
.company-hero h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15vw;
  line-height: 0.9333;
  @include mq.for-tablet-portrait-up {
    font-size: 15.625vw;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 8.3vw;
  }
}
.company-hero p {
  @include type.artemis-body;
}
.company-manifesto {
  position: relative;
  @include layout.centered;
  background: url(./img/artemis-bg.png) no-repeat 0% 0%;
  background-size: cover;
  border-radius: vars.$border-radius;
  box-shadow: 0 0 10px #000;
}
.company-manifesto > .wp-block-group__inner-container {
  @include layout.centered;
  overflow: auto;
}
.company-manifesto h2, .company-manifesto p {
  color: #FFF;
  mix-blend-mode: difference;
}
.company-manifesto h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 2em 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  @include mq.for-tablet-landscape-up {
    font-size: 25px;
  }
}
.company-manifesto p {
  text-transform: uppercase;
  line-height: 0.95;
  font-size: 5vw;
  @include mq.for-tablet-portrait-up {
    font-size: 3.5vw;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 3.8vw;
  }
}
.company-manifesto p a, 
.company-manifesto p a:visited {
  text-decoration: underline;
  color: #FFF;
}
.triple-headline {
  @include layout.full;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  & span:last-child {
    display: none;
  }
  @include mq.for-tablet-portrait-up {
    text-align: center;
    font-size: 20px;
    text-shadow: 0 100% 1px 1px #000;
    & span:last-child {
      display: inherit;
    }
  }
}
.company-our-location {
  @include layout.full;
}
.company-our-location .wp-block-column {
  max-width: 100%;
}
.company-our-location > .wp-block-group__inner-container {
  @include layout.centered;
}
.company-our-location .company-our-location-intro {
  font-weight: 400;
  color: #000;
  font-size: 5.8vw;
  line-height: 1.05;
  @include mq.for-tablet-portrait-up {
    font-size: 3.6vw;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 2.7vw;
  }
}
.company-our-location h3 {
  font-weight: 400;
  text-transform: uppercase;
  max-width: 100%;
  overflow-x: visible;
  white-space: nowrap;
  margin-bottom: .6em;
  line-height: .7;
  margin-top: 1.2em;
  font-size: 18vw;
  @include mq.for-tablet-portrait-up {
    margin-top: 0;
    font-size: 7.1vw;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 4.8vw;
  }
}
.company-our-location p {
  color: #808B90;
  font-size: 4.8vw;
  line-height: 1.1;
  & a:link, & a:visited, & strong {
    color: #000;
    font-weight: 400;
    text-decoration: none;
  }
  @include mq.for-tablet-portrait-up {
    font-size: 2.6vw;
  }
  @include mq.for-tablet-landscape-up {
    font-size: 1.7vw;
  }
}
.company-our-location .wp-block-columns {
  flex-direction: column-reverse;
  @include mq.for-tablet-portrait-up {
    flex-direction: row;
  }
}