@use 'mq';
@use 'type';
@use 'layout';
@use 'layout' as vars;

.single-post .entry-header {
 @include layout.full;
 margin-top: vars.$header-height; 
}
.single-post .entry-header .post-thumbnail {
  width: 100%;
  height: 58vh;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.single-post .entry-header .entry-title {
  @include type.artemis-h2;
  margin: .2em 0;
}
.single-post .entry-content {
  @include layout.centered;
}