@use 'wp-head';
@use 'preloader';
@use 'header';
@use 'buttons';
@use 'component-latest-news';
@use 'component-page-nav';
@use 'component-searchform';
@use 'page-home';
@use 'page-company';
@use 'page-portfolio';
@use 'page-team';
@use 'page-news';
@use 'page-singlePost';
@use 'page-archive';
@use 'page-search';
@use 'page-404';
@use 'footer';

@font-face {
  font-family: Klarheit;
  font-weight: normal;
  src: url('assets/fonts/ESKlarheitKurrent-Regular.woff2') format('woff2'), 
       url('assets/fonts/ESKlarheitKurrent-Regular.woff') format('woff');
}
// @font-face {
//   font-family: Klarheit;
//   font-weight: medium;
//   src: url('assets/fonts/ESKlarheitKurrent-Medium.woff2') format('woff2'), 
//        url('assets/fonts/ESKlarheitKurrent-Medium.woff') format('woff');
// }
@font-face {
  font-family: Maxeville;
  font-weight: normal;
  src: url('assets/fonts/Maxeville-Regular.woff2') format('woff2'), 
       url('assets/fonts/Maxeville-Regular.woff') format('woff');
}

#page {
  opacity: 0; // To avoid flickering on initial load, js removes this on first window.load
}
.site {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
main {
  background-color: #FFF;
  overflow: hidden;
}
.edit-link {
  display: none;
}
.wp-block-button__link {
  padding: calc(.667em + 2px) calc(2.333em + 2px);
}