@use 'wp-head';
@use 'preloader';
@use 'header';
@use 'buttons';
@use 'component-latest-news';
@use 'component-page-nav';
@use 'page-home';
@use 'page-company';
@use 'page-portfolio';
@use 'page-team';
@use 'page-news';
@use 'page-singlePost';
@use 'page-archive';
@use 'page-search';
@use 'footer';

body {
  opacity: 0; // To avoid flickering on initial load, js removes this on first window.load
}
.site {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
main {
  background-color: #FFF;
}
.edit-link {
  display: none;
}
.wp-block-button__link {
  padding: calc(.667em + 2px) calc(2.333em + 2px);
}